# Use the toolchain-resolution mechanism for C++
build --incompatible_enable_cc_toolchain_resolution

# Build cache
build --guard_against_concurrent_changes

# Disable `WORKSPACE`
build --noenable_workspace

# Prevent `PATH` and `LD_LIBRARY_PATH` leaking into action enviroment
build --incompatible_strict_action_env

# Prevent symlink forest under `.runfiles/wsname/external/repo`
build --nolegacy_external_runfiles

# fail on warnning
build --copt=-Werror
build --linkopt=-Werror

# To debug: lldb bazel-bin/ratbag/cli/cli
build:debug --spawn_strategy=local
build:debug --sandbox_debug
build:debug --strip=never
build:debug --features=oso_prefix_is_pwd
build:debug -c dbg

# address sanitizer
build:asan --strip=never
build:asan --copt=-fsanitize=address
build:asan --copt=-fno-omit-frame-pointer
build:asan --copt=-g
build:asan --copt=-O1
build:asan --linkopt=-fsanitize=address

# undefined behavior sanitizer
build:ubsan --copt=-fsanitize=undefined
build:ubsan --linkopt=-fsanitize=undefined

# memory sanitizer
build:msan --strip=never
build:msan --copt=-fsanitize=memory
build:msan --copt=-fno-omit-frame-pointer
build:msan --copt=-g
build:msan --copt=-O1
build:msan --linkopt=-fsanitize=memory

# Avoid building all targets when testing
test --build_tests_only
test --config=asan --config=ubsan # --config=msan

# TODO: this probably not needed for osx anymore
# Print relative paths where possible to reduce noise
# test --test_env="PATH=/bin:/usr/bin:$PATH" # TODO: why i need this work around on osx?
# common --attempt_to_print_relative_paths
# common --macos_minimum_os=13.3
# common --cxxopt="-std=c++23"

# Enable hermetic `rules_python`
common --@rules_python//python/config_settings:bootstrap_impl=script

# Disable Bazel output for `pre-commit` hooks
common:pre-commit --ui_event_filters=-info,-stdout,-stderr
common:pre-commit --noshow_progress
common:pre-commit --lockfile_mode=off
